*{
    font-family: Arial, Helvetica, sans-serif;
}


#cabecalho{
    background-color: #001242;
    display: grid;
    grid-template-areas:
    "logo menu";
    grid-template-columns: 35% 65%;
    height: 80px;
}

#logo{
    grid-area: logo;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:center;
    margin-right: 20%;
}

#logo a{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

#menu{
    color: #C9FBFF;
    width: 90%;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 10px;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

#foto:hover{
    opacity: 90%;
}

#menu ul{
    list-style: none;
}

#menu li{
    padding-left: 7%;
    padding-right: 7%;
    display: inline;
}

#menu li a{
    color: #C9FBFF;
    text-decoration: none;
}

#menu li a:hover{
    color: #666666;
}

#inicio{
    display: grid;
    grid-template-areas:
    "foto texto";
    grid-template-columns: 30% 70%;
    height: 60px;
    height: 400px;
}

#foto{
    margin-top: 20%;
    display:inline;
    align-content: center;
    text-align: center;
}

#texto{
    margin-left: 1%;
    margin-right: 20px;
    margin-top: 14%;
    display:inline;
    align-content: center;
    text-align: justify; 
}

#woodarde{
    border-top: 1px solid #001242;
    display: grid;
    grid-template-areas:
    "textWoodarde textWoodarde textWoodarde"
    "woodImg1 woodImg2 woodImg3";
    grid-template-columns: 33.34% 33.34% 33.34%;
    grid-template-rows: 25% 75%;
    height: 750px;
}

#textWoodarde{
    grid-area: textWoodarde;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2.5%;
}

#woodImg1{
    grid-area: woodImg1;
    align-items: center;
    text-align: center;
    align-content: center;
}

#woodImg1 button{
    align-items: center;
    text-align: center;
    align-content: center;  
    border-radius: 6%;
    height: 35px;
    border: #001242 solid 1px;
    margin-top: 15%;
    margin-left: 13%;
    margin-right: 13%;
    background-color: #001242;
    color: #C9FBFF;
}

#woodImg1 button:hover{
    background-color: #313131;
}

#woodImg1 button a{
    color: #C9FBFF;
    text-decoration: none;
    text-align: center;
}

#woodImg2 button{
    align-items: center;
    text-align: center;
    align-content: center;  
    border-radius: 6%;
    height: 35px;
    border: #001242 solid 1px;
    margin-top: 15%;
    margin-left: 13%;
    margin-right: 13%;
    background-color: #001242;
    color: #C9FBFF;
}

#woodImg2 button:hover{
    background-color: #313131;
}

#woodImg2 button a{
    color: #C9FBFF;
    text-decoration: none;
    text-align: center;
}



#woodImg2{
    grid-area: woodImg2;
    align-items: center;
    text-align: center;
    align-content: center;
}


#woodImg2 button:hover{
    background-color: #313131;
}

#woodImg3{
    grid-area: woodImg3;
    align-items: center;
    text-align: center;
    align-content: center;
}

#woodImg3 button{
    border-radius: 6%;
    height: 35px;
    border: #001242 solid 1px;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #001242;
    color: #C9FBFF;
}

#woodImg3 button:hover{
    background-color: #313131;
}

#woodImg3 button a{
    color: #C9FBFF;
    text-decoration: none;
    text-align: center;
}

#woodImg1, #woodImg2, #woodImg3{
    margin-left: 5%;
    margin-right:5%;
    margin-top: 15%;
    margin-bottom: 15%;
}


#paranapiacaba{
    border-top: 1px solid #001242;
    height: 450px;
    display: grid;
    grid-template-areas:
    "textParanapiacaba textParanapiacaba textParanapiacaba"
    "paraImg1 paraImg2 paraImg3";
    grid-template-columns: 33.34% 33.34% 33.34%;
    grid-template-rows: 15% 85%;
    height: 60px;
    height: 1100px;
}

#textParanapiacaba{
    grid-area: textParanapiacaba;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2.5%;
}

#paraImg1{
    margin-top: 5%;
    grid-area: paraImg1;
    align-items: center;
    text-align: center;
    align-content: center;
}

#paraImg1 button{
    border-radius: 6%;
    height: 35px;
    border: #001242 solid 1px;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #001242;
    color: #C9FBFF;
}

#paraImg1 button:hover{
    background-color: #313131;
}

#paraImg1 button a{
    color: #C9FBFF;
    text-decoration: none;
    text-align: center;
}

#paraImg2 button{
    border-radius: 6%;
    height: 35px;
    border: #001242 solid 1px;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #001242;
    color: #C9FBFF;
}

#paraImg2 button:hover{
    background-color: #313131;
}

#paraImg2 button a{
    color: #C9FBFF;
    text-decoration: none;
    text-align: center;
}

#paraImg3 button{
    border-radius: 6%;
    height: 35px;
    border: #001242 solid 1px;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #001242;
    color: #C9FBFF;
}

#paraImg3 button:hover{
    background-color: #313131;
}

#paraImg3 button a{
    color: #C9FBFF;
    text-decoration: none;
    text-align: center;
}

#paraImg2{
    margin-top: 5%;
    grid-area: paraImg2;
    align-items: center;
    text-align: center;
    align-content: center;
}

#paraImg3{
    margin-top: 5%;
    grid-area: paraImg3;
    align-items: center;
    text-align: center;
    align-content: center;
}

#paraImg1, #paraImg2, #paraImg3{
    margin-left: 5%;
    margin-right:5%;
    margin-top: 15%;
    margin-bottom: 15%;
}

#contatos{
    border-top: 1px solid #001242;
    display: grid;
    grid-template-areas:
    "textContatos textContatos textContatos textContatos"
    "git linkedin email wpp";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30% 70%;
    margin-left: 2%;
    height: 60px;
    height: 450px;
}

#textContatos{
    grid-area: textContatos;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2.5%;
}

#git{
    grid-area: git;
    margin-top: 5%;
    text-align: center;
}

#git:hover{
    opacity: 0.5;
}

#linkedin{
    grid-area: linkedin;
    margin-top: 5%;
    text-align: center;
}

#linkedin:hover{
    opacity: 0.5;
}

#email{
    grid-area: email;
    margin-top: 5%;
    text-align: center;
}

#email:hover{
    opacity: 0.5;
}

#wpp{
    grid-area: wpp;
    margin-top: 5%;
    text-align: center;
}

#wpp:hover{
    opacity: 0.5;
}

#rodape{
    background-color: #040f16;
    color: #C9FBFF;
    display: grid;
    grid-template-areas:
    "rodapeTxt rodapeTxt"
    "portfolioC portfolioBD"
    "portfolioAgeis portfolioUML";
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 35% 35%;
    height: 800px;
}

#rodape a{
    height: 450px;
    background-color: #040f16;
    color: white;
    text-decoration: none;
}

#rodapeTxt{
    grid-area: rodapeTxt;
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 2.5%;
}

#portfolioC{
    grid-area: portfolioC;
    align-items: center;
    text-align: center;
    align-content: center;
}

#portfolioC:hover{
    opacity: 60%;
}

#portfolioBD{
    grid-area: portfolioBD;
    align-items: center;
    text-align: center;
    align-content: center;
}

#portfolioBD:hover{
    opacity: 60%;
}

#portfolioAgeis{
    grid-area: portfolioAgeis;
    align-items: center;
    text-align: center;
    align-content: center;
}

#portfolioAgeis:hover{
    opacity: 60%;
}

#portfolioUML{
    grid-area: portfolioUML;
    align-items: center;
    text-align: center;
    align-content: center;  
}

#portfolioUML:hover{
    opacity: 60%;
}

#final{
    background-color: #040f16;
    color: #C9FBFF;
    align-items: center;
    text-align: center;
    align-content: center;

}
